<style type="text/css">

  #header { position: relative; }
  #header-content { position: absolute; bottom: 0; left: 0; }
  .inner { text-align: center;}

  li.anime:hover li.anime:active{
      text-decoration: underline;
      }

  input{ font-family: serif; color: #878787; background-color: #F4F4F4}
  input[type='button']{
  	color:#198D8D;
	padding:5px;
	background-color: #F4F4F4;
	border: 5px solid #F4F4F4;
	text-decoration:none;
  }
  input[type="button"]:hover{
	border: 5px solid #FEFEFE;
  }
</style>

